.projectCard {
    max-width: 390px;
    width: 100%;
    height: auto;
    min-height: 400px;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 100px;
    position: relative;
    /* background-color: red; */

}

.thumbnail {
    width: 100%;
    background-color: black;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 8px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 35px;

}


.title {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    color: cyan;
    /* color: #98CD00; */
    /* color: #bcf7f7; */
}

.shortDescription {
    font-size: 16px;
    margin: 10px 0;
    color: #FFFADC;
    text-align: center;
    margin-bottom: 20px;
}



.buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
}

.projectButton {
    background: #ffffff10;
    color: #FFFA8D;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: background 0.3s;
    border: 1px solid #FFFA8D;
}

.projectButton:hover {
    background: #FFFA8D;
    /* background: #bcf7f7; */
    color: black;
}




.imageOverlayWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
    /* Optional, matches your card styling */
}

.imageOverlayWrapper img {
    width: 100%;
    height: auto;
    display: block;
}

/* Top & bottom gradient overlay */
.imageOverlayWrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0) 30%,
            rgba(0, 0, 0, 0) 70%,
            rgba(0, 0, 0, 0.4) 100%);
}