/* .clr_purple {
    background-color: #614bc3;
} */

.custom_navbar {
    background: rgba(97, 75, 195, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 1;
    position: fixed;
    
}

.custom_navbar img {
    width: 100%;
    max-width: 100px;
    min-width: 60px;
    margin-left: 70px;
}

.custom_navbar .navbar-brand,
.custom_navbar .dropdown-toggle,
.clr_white {
    color: #FFFFFF !important;
    text-decoration: none;
}

.active {
    color: cyan !important;
}

.download_btn {

    background-color: #9683e0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    max-width: 200px;
}

.download_btn svg {
    color: white;
}

.download_btn:hover {
    background-color: #4a3a8c;
    transform: scale(1.05);
}