.img_container {
    width: 350px;
    height: 350px;
    border: 3px solid white;
    background-color: #614bc3;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2), 
                0 6px 6px rgba(0, 0, 0, 0.15);
    position: relative;
}


.img_container img{
    width: 100%;
    max-width: 200px;
    pointer-events: none;
} 

.hero_section h2 {
    font-size: clamp(1rem, 1.5vw + 1rem, 2rem); 
    line-height: 1.2; 
    font-weight: bold;
    color: cyan; 
    margin-top: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
}

