.sideNavContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    position: fixed;
    right: 0;
    top: 200px;
    background-color: var(--secondary-theme-color);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
    padding: 5px;
}

.sideNavPortfolioLogo {
    margin-bottom: 10px;
    padding: 10px 2px 14px 2px;
    border-bottom: 2px solid white;
}

.sideNavPortfolioLogo img {
    width: 45px;
}

.sideNavItem {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.sideNavActive {
    background-color: var(--secondary-theme-color);
}



@media (max-width: 700px) {

    .sideNavPortfolioLogo {
        margin-bottom: 10px;
        padding: 10px 2px 14px 2px;
        border-bottom: 2px solid white;
    }

    .sideNavPortfolioLogo img {
        width: 35px;
    }

    .sideNavItem {
        font-size: 16px;
        padding: 12px 0;
    }

}