a {
    text-decoration: none;
}

:root {

    --highlighter-color: cyan;
    --main-theme-color: rgb(35, 154, 162);
    --secondary-theme-color: #2399a27a;

    --active-theme: #FF8040
}

.highlighter {
    color: var(--highlighter-color);
}