a {
    text-decoration: none;
}

:root {

    --highlighter-color: cyan;
    --secondary-color: #1a1a1a;
    --text-light: rgba(255, 255, 255, 0.8);

}

.highlighter {
    color: var(--highlighter-color);
}